/* ===== =====  GLOBAL-STYLING  ===== ===== */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* .divider {
    background-color: lightpink;
    height: 100px;
    width: 100%;
} */

/*  ===== =====  COVER-PAGE  ===== =====  */
.link{
    text-decoration: none;
} 

/* ===== =====  NAVBAR  ===== ===== */
.mainNav {
    width: 100%;
}
.nav {
    display: flex;
    background-color: white;
    height: 50px;
    /* justify-content: space-evenly; */
}
.navTitle {
    /* background-color: rgba(235, 235, 235, 0.952); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    flex: 1
}
.title {
    letter-spacing: 3px;
    font-size: 12px;
    color: lightskyblue;
}
h1 { 
    margin: 0px;
}
.navRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

}
.topNav {
    padding-right: 30px; 
    text-decoration: none;  
    font-size: 18px; 
}

/*  ===== =====  FOOTER  ===== ===== */
.mainFooter {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    /* height: 30px; */
}

footer {
    font-size: 12px;
    margin: auto auto 0 auto;

}

/* ===== =====  HOME-PAGE  ===== ===== */
.main {
    background-color: rgba(235, 235, 235, 0.952);
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* outline: solid 1px red; */
    height: 500px;
    width: 550px;
}

/* =====  TITLE  ==== */
/* .mainTitle { */
    /* background-color: lightsteelblue; */
    /* background-color: rgba(235, 235, 235, 0.952); */
    /* display: flex; */
    /* height: 100px; */
    /* width: 550px; */
    /* margin-bottom: 20px; */
    /* justify-content: center; */
    /* align-items: center; */
/* } */

/* =====  BODY  ===== */
.mainBody {
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: center;
    height: 400px;
    width: 500px;
    margin-top: 115px;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.body-row {
    background-color: lightskyblue;
    display: flex;
    height: 80px;
    width: 400px;
    margin: 10px;
    border-radius: 15px;
}
.body-row a {
    text-decoration: none;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== =====  REGISTER  ===== ===== */
.registerMain {
    background-color: rgba(235, 235, 235, 0.952);
    /* background-color: white; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registerContainer {
    /* background-color: rgba(235, 235, 235, 0.952); */
    /* width: 770px; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.regForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* outline: solid 1px black; */
    border: solid black 2px;
    background-color: white;
    height: 550px;
    width: 375px;
}

/* ===== =====  SIGN-IN  ===== ===== */
.loginMain {
    background-color: rgba(235, 235, 235, 0.952);
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.loginContainer {
    /* background-color: rgba(235, 235, 235, 0.952); */
    /* width: 770px; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* outline: solid 1px black; */
    border: solid black 2px;
    background-color: white;
    height: 375px;
    width: 375px;
}

/*  ===== =====  CREATE-SIGN IN ===== ===== */
.formTitle {
    display: flex;
    font-size: 16px;
    padding-left: 10px;
    /* padding-bottom: 20px; */
}
.placeholder {
    padding: 10px;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
}
.form-row {
    display: flex;
    /* padding: 5px; */
    /* margin: 5px; */
}
label {
    font-size: 20px;
    padding-left: 2px;

}
.form-row input {
    width: 350px;
    height: 34px;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
}
.login input{
    font-size: 14px;
    /* margin-left: 10px; */
    width: 350px;
    height: 30px;
}
.member {
    font-size: 16px;
    padding-left: 5px;
}
.accnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== =====  ADD-REMIND  ===== ===== */
.addRemind {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.columnContainer {
    /* outline: solid 1px black; */
    /* background-color: lightgoldenrodyellow; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.columnL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* outline: solid 1px black; */
    border: solid black 2px;
    background-color: white;
    height: 350px;
    width: 500px;
}
.addTitle{
    display: flex;
    font-size: 14px;
    /* margin-bottom: 5px; */
}
.submitBtn {
    margin-left: 10px;
}
.columnR {
    border: solid black 2px;
    /* outline: solid 1px black; */
    background-color: white;
    height: 500px;
    width: 750px;
}
#map {
    /* height: 75vh; */
    height: 65vh;
    /* height: 100%; */
    width: 100%;
}

/* ===== =====  EDIT-REMINDERS  ===== ===== */
.editRemind {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.editTitle{
    display: flex;
    font-size: 14px;
    /* margin-bottom: 5px; */
}
/* ===== =====  REMINDER-LIST  ===== ===== */
.remList {
    padding-bottom: 5px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.remList:hover {
    font-weight: bold;
}
/* ===== =====  MAP-LIST  ===== ===== */
.mapList {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mapListContainer {
    /* outline: solid 1px black; */
    /* background-color: lightgoldenrodyellow; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.columnTable {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* outline: solid 1px black; */
    border: solid black 2px;
    background-color: white;
    height: 350px;
    width: 600px;
}
.tableTitle{
    display: flex;
    font-size: 14px;
    margin: 12px 0;
}
.columnMap {
    border: solid black 2px;
    /* outline: solid 1px black; */
    background-color: white;
    height: 500px;
    width: 650px;
}
table {
    /* border-collapse: collapse; */
    width: 600px
}

th {
    padding: 5px;
    text-align: left;
    background-color: darkgray;
    color: white;
    font-size: 1.5em;
    font-family: Tahoma, Geneva, Verdana, sans-serif
}

td {
    padding: 5px 2px;
}

tr:hover{
    background-color: lightgrey;
}

li button {
    border: none;
    color: lightgray;
    padding: 2px;
    /* margin: 0; */
    background-color: rgba(235, 235, 235, 0.952);
}
li a:link, li a:visited, li a:hover, li a:active {
    color: lightgray;
}

li a:hover, li button:hover {
    color: inherit;
}